header, footer {
    background-color: #17abb3;
    color: #ffffff;
    text-align: center;
    padding: 10px 0px;
}

header {
    display: flex;
}

header a {
    color: #ffffff;
    text-decoration: none;
}

header section:last-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

address{
    text-align: start;
    padding-left: 90px;
}

address img{
    padding-right: 10px;
    vertical-align: text-bottom;
}

address a, address p{
    width: 50%;
    margin: 0px;
    float: left;
    padding: 5px 0px;
    font-style: normal;
}

footer p {
    margin: 10px 0px 0px;
}

.photo {
    width: 30%;
    align-content: center;
}

.photo img {
    width: 140px;
    height: 140px;
    border: 5px solid #ffffff;
    border-radius: 75px; 
}

.presentation {
    width: 70%;
}

h3 {
    color: #17abb3;
}

body {
    width: 1160px;
    background-color: #f5f5f5;
    margin: auto;
    word-wrap: break-word;
}

main {
    display: flex;
}

main div {
    padding: 20px;
    float: left;
}

.skills {
    background-color: #e3e3e3;
    width: 30%;
}

.skills section{
    display: flex;
    flex-direction: column;
}

.skills section img{
    float: right;
}

.skills p {
    font-weight: bold;
}

.profil {
    background-color: #ffffff;
    width: 70%;
}

.profil section:first-child p{
    text-indent: 20px;
}


.profil section p:hover {
    border-left: 5px solid #17abb3;
    padding-left: 5px;
    background-color: #f5f5f5;
}

ul {
    list-style: square;
    color: #17abb3;
}

span {
    color: black;
}

footer img {
    width: 32px;
    height: 32px;
}

.skills section img {
    width: 64px;
    height: 64px;
}

img {
    vertical-align: middle;
}

small {
    font-style: italic;
}