header, footer {
    background-color: #17abb3;
    align-content: center;
}

h3 {
    color: #17abb3;
}

body {
    width: 1160px;
    background-color: #f5f5f5;
    margin: auto;
    word-wrap: break-word;
}

.skills {
    background-color: #e3e3e3;
    align-content: center;
}



.profil {
    background-color: #ffffff;
    align-content: center;
}

#profil {
    text-indent: 20px;
}

ul {
    list-style: square;
    color: #17abb3;
}

span {
    color: black;
}

footer img {
    width: 32px;
    height: 32px;
}

.skills section img {
    width: 64px;
    height: 64px;
}

img {
    vertical-align: middle;
}